@import '../../scss/variables.scss';

.main-form {
  max-height: fit-content;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  select {
    width: fit-content;
    height: 5.5vh;
    border: 2px solid;
  }

  input[type="text"] {
    width: 50vw;
    height: 5.5vh;
    padding: 1rem;
    border: 2px solid;
    border-radius: .2rem;
    font-family: 'Open-Sans', sans-serif;
  }

  img {
    width: 2.5rem;
    margin: 0 .1rem;
    border: 2px solid;
    border-radius: .2rem;
    &:hover {
      cursor: pointer;
    }
  }

  label, h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.clear-icon {
  background-color: lighten(red, 20);
  &:hover {
      background-color: red;
    }
}

.search-icon {
  &:hover {
    background-color: lighten($highlight-blue, 30);
  }
}

.regular-search-section {
    display: flex;
    width: inherit;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;

    label {
      padding-right: .5rem;
    }
    
    .select-state-div {
      width: fit-content;
      height: 3vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2rem;
    }
    .search-bar-div {
      width: 50%;
      display: flex;
    }
}

.advanced-search-div {
  img {
    border: none;
    width: 1.5rem;
    margin-left: .4rem;
  }
}

.advanced-search-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters-fieldsets-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: justify;
  justify-content: space-between;
  border-radius: .2rem;
}

.exposed {
  border: 2px solid;
}

.fieldset-form-div {
  border-bottom: 1px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.checkboxes-div {
  display: flex;
  justify-content: space-evenly;
}

.checkbox-div {
  label {
    font-weight: normal;
    margin: .5rem;
  }
}

.advanced-search-div {
  display: flex;
  padding-left: 2rem;
  align-items: center;

  button {
    text-align: center;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}