@import '../../scss/variables.scss';

.results-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lighten($base-blue, 80);
  border-top: 1px solid;
  box-shadow: 8px 4px 2px -4px black;
}