@import './reset.scss';
@import './variables.scss';

body {
  * {
    font-family: $base-font;
  }
}

header, footer {
  background-image: $spectrum-gradient;
}

h1 {
  font-family: $logo-font;
  font-weight: bold;
  letter-spacing: 0.5em;
  color: #FFFFFF;
}

button {
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid;
}