@import './variables.scss';

body {
  * {
    font-family: $base-font;
  }
}

h1 {
  font-family: $logo-font;
  letter-spacing: 0.5em;
}



button {
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid;
}