@import './reset.scss';
@import './variables.scss';

body {
  * {
    font-family: $base-font;
  }
}

header, footer {
  background-image: $spectrum-gradient;
  padding: 2rem;
  .spectrum-icon {
    width: 1rem;
  }
  
  .logo-div {
    display: flex;
  }
}

h1 {
  font-family: $logo-font;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

h2 {
  font-family: $base-font;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

button {
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid;
}