@media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

    .regular-search-section {
      .select-state-div {
        select {
          height: 3vh;
        }
      }
      .search-bar-div {
        display: flex;
        #search-bar {
          width: 40vw;
          height: 3vh;
        }
      }
    }
}

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .regular-search-section {
      display: flex;
      flex-direction: column;
      
      .select-state-div {
        select {
          height: 2vh;
        }
      }
      .search-bar-div {
        width: 30%;
        display: flex;
        #search-bar {
          width: 40vw;
          height: 2vh;
        }
      }
    }

    img {
      width: 2.5;
      height: 2.5vh;
    }

    .advanced-search-section {
      display: flex;
      align-items: center;

      .fieldset-form-div {
        display: flex;
        .checkboxes-div {
          width: 100%;
          height: fit-content;
          flex-flow: row wrap;
        }
        height: 10vh;
      }

    }
  }

// Mobile/Tablet - Additional Info Card styles
@media screen 
  and (min-device-width: 700px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .additional-info-div {
        section {
          display: flex;
          flex-flow: row;
          align-items: flex-start;
          justify-content: center;

          button {
            font-size: .5rem;
            height: fit-content;
            width: fit-content;
          }
        }
      
      }

}

@media screen 
  and (min-device-width: 200px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
      .result-card-section {
        display: flex;
        flex-flow: column;
        align-items: center;

        div {
          margin-bottom: .6rem;
        }
      }
      
      .additional-info-div {
        section {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: center;

          div {
            width: 50%;
          }

          button {
            font-size: .5rem;
            height: fit-content;
            width: fit-content;
          }
        }
      
      }

      .tags-container-div {
          display: flex;
          justify-content: center;
        }
  }