// Fonts
$logo-font: 'Baloo Paaji 2', cursive;
$base-font: 'Open-Sans', sans-serif;

// Color Palette
$spectrum-gradient: linear-gradient(161deg, rgb(0,45,85),rgb(0,30,56));
$base-blue: #001D37;
$highlight-blue: #0077BC;
$background-blue-gray: #e0f1fb;
$btn-fill-blue: #426c91;